/* Custom Stylesheet */

html,
body {
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 13pt;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    letter-spacing:5px;
}

a {
    color: white;
}
a:hover, a:visited, a:link, a:active {
    color:white;
    text-decoration: none;
}

#links > li > a:hover {
    color: white;
    animation-name: nav_marked;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    text-decoration: none;
}
@keyframes nav_marked {
    100% {
        color: rebeccapurple;
    }
}

.project-link {
    font-size: 10pt;
}
.col-md-4 > a {
    color: #5a5757;
}
.col-md-4 > a:hover {
    animation-name: proj-link-marked;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes proj-link-marked {
    100% {
        color: #FFA2C1;
    }
}

.text-center {
    text-align: center;
}
.letter-spaced {
    letter-spacing: 5px;
}

.btn-learn-more {
    text-align: center;
    margin: 0 20px;
    padding: 10px;
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 50%;
}
.btn-learn-more:hover {
    color: #fff;
    animation-name: enlarge;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
@keyframes enlarge {
    100% {
        transform: scale(1.3);
    }
}

@keyframes increase-brightness {
    100% {
        filter: brightness(90%);
        color: white;
    }
}

/* Header */

header {
    background: url(../img/anime-girl-car-drinking-coffee-co.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
}

header > #header-text {
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header > #header-text > h1 {
    margin-top: 80px;
    color: #fff;
    font-size: 42pt
}

header > p {
    text-align: center;
}

section {
    padding: 60px 0;
}

.col-md-4 > h3 {
    padding-bottom: 10px;;
    margin-bottom: 15px;
}
.container > h2{
    margin-top: 0px;
    padding-left: 70px;
}

#open-nav, #close {
   display: none;
}


/* Media Queries */
@media(max-width: 600px) {
    header > .custom-navigation {
        font-size:12pt;
    }
    header > #header-text {
        font-size: 12pt;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    header > #header-text > h1 {
        margin-top: 50px;
        color: #fff;
        font-size: 32pt
    }
}

@media(max-width: 765px) {
    /*Mobile Nav */
    #open-nav, #close {
        display: table-header-group;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 25px;
        z-index: 100;
    }

    .custom-navigation > #links {
        display:none;
        padding: 0px;
    }

    #close {
        display: none;
    }

    .sm-dev-padding {
        padding-top: 60px;
    }
    .container > h2{
        margin-top: 0px;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
} 


